.sign_up_body{
    background-color: #FFFFFF

}
    .signup-box{
        width: 360px;
        height: 620px;
        margin: auto;
        margin-top: 20px;
        background-color:white ;
        border-radius: 3px;
    }

.sign_up_h1{
    text-align: center;
    padding-top: 15px ;
}
.sign_up_h4{
    text-align: center;
}
.sign_up_form{
    width: 300px;
    margin-left: 20px;
}

.sign_up_form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.sign_up_form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.sign_up_input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border:none;
    background-color:antiquewhite
    color: white;
    font-size: 18px;
}

.sign_up_p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2{
    text-align: center;
    color:white;
    font-size: 15px;
    margin-top: -10px;
}

.para.2 a{
    color: #49cla2;
}
