/* CSS NG NAVIGATION BAR */

.navigation_nav-bar{
    background-color: #F1E9D6;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 17%;
}

.navigation_logo{
    width: 15%;
}

.navigation_innerdiv{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;
}

.navigation_bottom{
    text-align: center;
    width: 100%;
}

.navigation_bottom_inside{
    width:100%;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.navigation_bottom_left
{
    margin-left: 9%;
    width: 90%;
}
.navigation_cart_button{
    width: 10%;
    text-align: right;
}

.navigation_cart{
    color: #A26023;
    font-size: 30px;

}

.navigation_cart:hover{
    color: white;
}

a.navigation_header_button:link, a.navigation_header_button:visited {
  color: #B08054;
  font-size: 20px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.navigation_header_button:hover, a.navigation_header_button:active {
    color: white;
    
}


/*CSS NG LOGIN*/
.account_body{
   /* background: url('../pictures/background_sign.jpg') no-repeat;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} 

.account_container{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 45%;
    height: 70%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.account_form_box{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login_h2{
    font-size: 2em;
    text-align: center;
}

.login_form-group{
    position: relative;
    width: 100%;
    height: 25px;
    border-bottom: 2px solid #162938;
    margin-top:30px;
    
}

.login_form-btn{
    margin-top: 30px;
}




.login_form-group input {
    position:absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

/*checkbox/*/
.login_form-group input[type=checkbox]{
    width: 1em;
    font-size: inherit;
    margin: 0;
    transform: translateX(-9999px);
}
.login_form-group input[type=checkbox] + label:before{
    position: absolute;
    content: '';
    left: -1.3em;
    top: 0;
    width: 1em;
    height: 1em;
    margin: 0;
    border:none;
    border-radius: 10%;
    background-color: #bbbbbb;
}
.login_form-group input[type=checkbox] + label:after{
    position: absolute;
    content: '';
    left: -1.3em;
    top: 0;
    width: 1em;
    height: 1em;
    margin: 0;
    border: none;
    background-color: white;
    border-radius: 10%;
    transform: scale(0.8);
}



.login_button_hidden{
    background-color: white;
    border: none;
    color: #A26023;
    border-radius: 10%;
    padding: 3%;
}

.login_div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 0;
    width: 50%;
    z-index: 2;
    padding: 30px 30px;
}

.account_container.active .login_div{
    transform: translateX(0);
}

.account_btn{
    
    background-color: #A26023; 
    border: none;
    border-radius: 10%;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
      
}





/* CSS NG SIGN UP*/
.sign_up_form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}



.signup_div{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    padding: 30px 30px;
}

.signup_h4{
    text-align: center;
}

.signup_email_error{
    padding-top: 30px;
    font-size: .8em;
    color: red;
    display: none;
}

.signup_password_error{
    font-size: .7em;
    color: red;
    display: none;
}

.account_container.active .signup_div{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.signup2_password_error{
    font-size: .7em;
    color: red;
    display: none;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 0;
        z-index: 5;
    }
}



/**CSS NG TGGLE CNTAINER SA LGIN AND SIGN UP*/
.toggle_container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height :100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 120px 0 0 50px;
    z-index: 1000;
}

.account_container.active .toggle_container{
    transform: translateX(-100%);
    border-radius: 0 120px  50px 0;
}

.toggle{
    background-color: antiquewhite;
    height: 100%;
    position: relative;
    color: black;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.account_container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.account_container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.account_container.active .toggle-right{
    transform: translateX(200%);
}

/*CSS NG HOMESCREEN*/
.homescreen_body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    
}
     
        
.homescreen_section {
    text-align: center;
    padding: 10%;

}

.homescreen_get_started {
    font-size: 30px;
    margin-bottom: 2%;
    color: #744916;
}

.homescreen_p {
    font-size: 80 px;
    line-height: 160%;
    max-width: 80%;
    margin: 0 auto 4%;
    color: #744916;
}

.home_screen_get_started_browse-btn {
    background-color: #A9692B;
    padding: 1% 3%;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
}

.home_screen_get_started_browse-btn:hover {
    background-color: #8a5423;
}
        
.homescreen_line{
    width:75% ;
    background-color:#9D4F0A;
    border-top: 1px solid #9D4F0A;
}

        
.homescreen_about_us {
    font-size: 30px;
    margin-bottom: 2%;
     color: #744916;
}

